*{
    margin: 0;
    padding: 0;
    font-family: 'pretenard;'
}

.for{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main_text{
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 38px;
    font-weight: 700;
    color: #000;
    line-height: 100%;
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-between;
    
}
.one{
    font-size: 20px;
    font-weight: 500;
    color: #666;
    line-height: 100%;
}

.two{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-top: 10px;
    line-height: 100%;
}

.three{
    font-size: 16px;
    color: #000;
    margin-top: 4px;
}
